<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Luvbyte free sms and call">
    <meta name="author" content="ORC_1">
    <meta name="keywords" content="Luvbyte|free sms and call">
    <meta property="og:title" content="Luvbyte|free sms and call">
    <meta property="og:description" content="Luvbyte|helps you schedule free sms and call">
    <meta property="og:image" content="https://s3.us-east-2.amazonaws.com/luvbyte/static/images/icon/logo.png">


    <!-- Title Page-->
    <title>Luvbyte|{{user.username}}</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'css/font-face.css" rel="stylesheet' %}" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">

</head>


<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="{% static 'images/icon/logo.png' %}" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>

                        </li>
                        <li>
                            <a href="/">
                                <i class="fas fa-list-alt"></i>SMS</a>
                        </li>
                        <li>
                            <a href="/">
                                <i class="fas fa-phone-square"></i>Calls</a>
                        </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="{% static 'images/icon/logo.png' %}" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>

                        <li>
                            <a href="/">
                                <i class="fas fa-list-alt"></i>SMS</a>
                        </li>
                        <li>
                            <a href="/">
                                <i class="fas fa-phone-square"></i>Call</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop" style="background-color:rgba(146, 135, 187, 0.8)">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                              {% csrf_token %}
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for sms &amp; voice notes..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="noti-wrap">

                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-notifications"></i>
                                        <span class="quantity">3</span>
                                        <div class="notifi-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p>You have 3 Notifications</p>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c1 img-cir img-40">
                                                    <i class="zmdi zmdi-email-open"></i>
                                                </div>
                                                <div class="content">
                                                    <p>Account setup successful</p>
                                                    <span class="date">{% now "jS F Y H:i" %}</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c2 img-cir img-40">
                                                    <i class="zmdi zmdi-account-box"></i>
                                                </div>
                                                <div class="content">
                                                    <p>Your account is currently not enabled for calls</p>
                                                    <span class="date">{% now "jS F Y H:i" %}</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c3 img-cir img-40">
                                                    <i class="zmdi zmdi-file-text"></i>
                                                </div>
                                                <div class="content">
                                                    <p>Account sms support is on</p>
                                                    <span class="date">{% now "jS F Y H:i" %}</span>
                                                </div>
                                            </div>
                                            <div class="notifi__footer">
                                                <a href="#">All notifications</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="{% static 'images/icon/avatar.png' %}" alt="luvbyte" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">{{user.username}}</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="{% static 'images/icon/avatar.png' %}" alt="{{user.username}}" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">{{user.username}}</a>
                                                    </h5>
                                                    <span class="email">{{user.useremail}}</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="/setup">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>

                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="/logout">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->
            <!-- MAIN CONTENT-->
            <div class="main-content" >
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <div class="overview-wrap">
                                    <h2 class="title-1">overview</h2>


                        </div> -->
                        <div class="row">


                        <div class="row">
                          <div class="col-lg-6">
                              <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
                                  <div class="au-card-title" style="background-image:url('images/bg-title-02.jpg');">
                                      <div class="bg-overlay bg-overlay--blue"></div>
                                      <h3>
                                          <i class="zmdi zmdi-comment-text"></i>SMS Sent</h3>
                                      <button class="au-btn-plus">
                                          <i class="zmdi zmdi-plus"></i>
                                      </button>
                                  </div>
                                  <div class="au-inbox-wrap js-inbox-wrap">
                                      <div class="au-message js-list-load">
                                          <div class="au-message__noti">
                                              <p>SMS sent for {{user.username}}
                                                  <!-- <span>2</span>

                                                  new messages
                                              </p> -->
                                          </div>
                                          {% for msg in message %}
                                          <div class="au-message-list">
                                              <div class="au-message__item unread">
                                                  <div class="au-message__item-inner">
                                                      <div class="au-message__item-text">
                                                          <div class="avatar-wrap">
                                                              <div class="avatar">
                                                                  <img src="images/icon/avatar-02.jpg" alt="John Smith">
                                                              </div>
                                                          </div>

                                                          <div class="text">
                                                              <h5 class="name">{{msg.name}}</h5>
                                                              <p>{{msg.message}}</p>
                                                          </div>
                                                      </div>
                                                      <div class="au-message__item-time">
                                                          <span>12 Min ago</span>
                                                      </div>
                                                  </div>
                                              </div>


                                              <div class="au-message__item js-load-item">

                                              </div>

                                          </div>{% endfor %}
                                          <div class="au-message__footer">
                                              <button class="au-btn au-btn-load js-load-btn">load more</button>
                                          </div>
                                      </div>
                                      <div class="au-chat">
                                          <div class="au-chat__title">
                                              <div class="au-chat-info">
                                                  <div class="avatar-wrap online">
                                                      <div class="avatar avatar--small">
                                                          <img src="images/icon/avatar-02.jpg" alt="John Smith">
                                                      </div>
                                                  </div>
                                                  <span class="nick">
                                                      <a href="#">{{user.username}}</a>
                                                  </span>
                                              </div>
                                          </div>
                                  </div>
                              </div>
                          </div>

                      </div>
                            <div class="col-lg-6">
                                <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
                                    <div class="au-card-title" style="background-image:url('{ static 'images/bg-title-01.jpg' %}');">
                                        <div class="bg-overlay bg-overlay--blue"></div>
                                        <h3>
                                            <i class="zmdi zmdi-phone-msg"></i>Voice </h3>
                                        <button class="au-btn-plus">
                                            <i class="zmdi zmdi-plus"></i>
                                        </button>
                                    </div>
                                    <div class="au-task js-list-load">
                                        <div class="au-task__title">
                                            <p>calls made for {{user.username}}</p>
                                        </div>
                                        {% for calls in voice %}
                                        <!-- implement -->
                                        {% endfor %}
                                        <div class="au-task__footer">
                                            <button class="au-btn au-btn-load js-load-btn">load more</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'vendor/slick/slick.min.js' %}">
    </script>
    <!-- <script src="{% static 'vendor/wow/wow.min.js' %}"></script> -->
    <script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
    <!-- <script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"> -->
    </script>
    <script src="{% static 'vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <!-- <script src="{% static 'vendor/counter-up/jquery.counterup.min.js' %}"> -->
    </script>
    <script src="{% static 'vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <!-- <script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script> -->
    <!-- <script src="{% static 'vendor/select2/select2.min.js' %}"> -->
    <!-- </script> -->

    <!-- Main JS-->
    <script src="{% static 'js/main.js' %}"></script>
    <footer>

                <p>App by <a href="https:github.com/ORC-1" target="_blank">ORC-1</a>.</p>
                <p><a href="mailto:Rolandazim@gmail.com" target="_blank">Rolandazim@gmail.com</a></p>

    </footer>
</body>

</html>
<!-- end document-->
